BasedOnStyle: LLVM
UseTab: ForIndentation
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 8
AccessModifierOffset: -4 
NamespaceIndentation: All
ColumnLimit: 100
BreakBeforeBraces: WebKit
ReflowComments: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
IncludeBlocks: Regroup 
SortIncludes: true
AlwaysBreakTemplateDeclarations: Yes
