BasedOnStyle: LLVM 
IndentWidth: 4
ContinuationIndentWidth: 8
TabWidth: 4
UseTab: ForContinuationAndIndentation
AccessModifierOffset: -4 
NamespaceIndentation: All
ColumnLimit: 100
BreakBeforeBraces: WebKit
ReflowComments: true
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
IncludeBlocks: Preserve
SortIncludes: true
AlignAfterOpenBracket: DontAlign
IndentCaseLabels: false
